<div class="datatabel">
    <table class="responsive-table  teal darken-2">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Desgination</th>
                <th>Emailid</th>
                <th>Phoneno</th>
                <th>AddressLine1</th>
                <th>AddressLine2</th>
                <th>AddressLine3</th>
                <th>City</th>
                <th>State</th>
                <th>Pincode</th>
                <th></th>
            </tr>
        </thead>
        <tr *ngFor="let empData of employeeService.employees">
            
            <td>{{ empData.FirstName}}</td>
            <td>{{ empData.LastName}}</td>
            <td>{{ empData.Desgination }}</td>
            <td>{{ empData.Emailid }}</td>
            <td>{{ empData.Phoneno }}</td>
            <td>{{ empData.AddressLine1 }}
            <td>{{ empData.AddressLine2 }}
            <td>{{ empData.AddressLine3 }}
            <td>{{ empData.city }}</td>
            <td>{{ empData.State }}</td>
            <td>{{ empData.Pincode }}</td>  
            <td>
                <a class="action-btn" (click)="onEdit(empData)">
                        <button class="material-icons">edit</button>
                </a> 
                <a class="action-btn" (click)="onDelete(empData._id, employeeForm)">
                        <button class="material-icons">delete</button>
                </a>     
              </td>
        </tr>
    </table>
</div>

