<nav>
    <div class="nav-wrapper">
      <a  class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <a (click)="onNavProfileEditPage()">EditProfile</a>
      </ul>
    </div>
  </nav>