<div class="row">
    <div class="col l6 blue-grey darken-1">
        <div class="card"> 
            <div class="card">
                
                <div class="input-field col s12">
                    <input placeholder="Emailid" id="Emailid" type="email" class="validate" name="Emailid">
                    <label for="email">Emailid:</label>
                </div>
                
                <div class="input-field col s12 ">
                    <input placeholder="User Name" id="UserName" type="text" class="UserName" name="UserName">
                    <label for="User Name">User Name:</label>
                </div>
                
                <div class="input-field col s12 ">
                    <input placeholder="Enter Password" id="EnterPassword" type="text" class="EnterPassword" name="EnterPassword">
                    <label for="Enter Password">Enter Password:</label>
                </div>
                
                <div class="input-field col s6">
                    <button class="btn btn-custom col s12" type="button">Register</button>
                </div>

                <div class="input-field col s6">
                    <button type="submit" class="btn btn-custom col s12" (click)=" onForRegLoginpageClick()">Login</button>
                </div>

            </div>
        </div> 
    </div>
</div>