<div class="row">
    <div class="longinbox">
      <div class="col-sm">
         Username<input type="text" id="Username" class="form-control" name="onFor()">
      </div>
      <div class="col-sm">
        Password<input type="password" id="Password" class="form-control" name="Password">
     </div>
     <button type="submit" class="btn btn-primary" (click)="onForLoginClick($event)">Login</button>
     <button type="submit" class="btn btn-primary" (click)="onForRegClick()">Register</button>
    </div>
  </div>